<div class="container-fluid">
    <div class="container-fluid"id="fondo">
        <img src="../../../assets/fondoLanding.jpg" alt="">

    </div>
    <div id='container'>
        <div class='scroll'>
            <div class='item'>Item 1</div>
            <div class='item'>Item 2</div>
            <div class='item'>Item 3</div>
            <div class='item'>Item 4</div>
            <div class='item'>Item 5</div>
            <div class='item'>Item 6</div>
            <div class='item'>Item 7</div>
            <div class='item'>Item 8</div>
            <div class='item'>Item 9</div>
            <div class='item'>Item 10</div>
            <div class='item'>Item 1</div>
            <div class='item'>Item 2</div>
            <div class='item'>Item 3</div>
            <div class='item'>Item 4</div>
            <div class='item'>Item 5</div>
            <div class='item'>Item 6</div>
            <div class='item'>Item 7</div>
            <div class='item'>Item 8</div>
            <div class='item'>Item 9</div>
            <div class='item'>Item 10</div>
            <div class='item'>Item 1</div>
            <div class='item'>Item 2</div>
            <div class='item'>Item 3</div>
            <div class='item'>Item 4</div>
            <div class='item'>Item 5</div>
            <div class='item'>Item 6</div>
            <div class='item'>Item 7</div>
            <div class='item'>Item 8</div>
            <div class='item'>Item 9</div>
            <div class='item'>Item 10</div>
        </div>
        <div class='fade'></div>
    </div>
    <app-new-products></app-new-products>
    <hr>
    <app-top-selling></app-top-selling>
    <hr>
    <app-happy-opinions></app-happy-opinions>
</div>