<div class="container-fluid d-flex"id="card">
    <img src="./media/Logo.jpg"style="width:8rem;" alt="">
    <div class="container d-flex flex-column justify-content-between">
        <div class="des d-flex flex-column">
            <span>Almohadas personalizadas</span>
            <label for="">Color:Color</label>
        </div>
        <label for="">Precio</label>
    </div>
    <div class="actions">
        <div class="rem text-end">
            <a href=""><mat-icon>restore_from_trash</mat-icon></a>
        </div>
        <div class="but">
            <a href="">-</a>
            <a href="">1</a>
            <a href="">+</a>
        </div>
    </div>
</div>
<hr>
