<div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Filtrar</div>
    <div class="card-body text-secondary">
      <div class="drops">
        <button type="button" class="btn">Almohadas</button>
        <button type="button" class="btn">Cuadros</button>
        <button type="button" class="btn">Tomatodos</button>
        <button type="button" class="btn">Cuadros</button>
      </div>
      <hr>
      <div class="prer">
        <label for="customRange1" class="form-label">Precio</label>
        <input type="range" class="form-range" id="customRange1">
      </div>
      <hr>
      <div class="col">
        <label for=""class="form-label">Color</label>
        <div class="colores">
            <div class="item1">

            </div>
        </div>
      </div>
      <div class="container text-center">
        <button type="button" class="btn btn-success">Aplicar filtro</button>
      </div>
    </div>
  </div>