.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsProduct {
    width: 60%;
    display: flex;
    align-items: center;
}

.detailsProduct img {
    width: 35%;
}

.descripProduct {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 500;
    line-height: 23.71px;
    text-align: left;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid thin black;
}

#item {
    padding: 0 0.4rem;

}

#item a {
    text-decoration: none;
    color: black;
}

.price {
    text-align: end;
    margin-bottom: 1rem;
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 500;

}

.price span {
    font-size: 20px;
}

.price a {
    font-size: 10px;
}

a:hover {
    cursor: pointer;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    top: 133px;
    left: 327px;
    gap: 0px;
    transition: opacity 0.3s ease;
    color: #693641;
    font-family: 'Oswald';
    font-size: 10px;
    font-weight: 500;
    line-height: 14.82px;
    text-align: left;

}

.offcanvas-total {
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 500;
    line-height: 23.71px;
    text-align: left;
    color: #000000;
}

#total {
    display: flex;
    justify-content: space-between;
}